<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ngantran.cs496final">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewAllProjectsActivity"/>
        <activity android:name=".ViewAllVolunteersActivity"/>
        <activity android:name=".AddProjectActivity"/>
        <activity android:name=".AddVolunteerActivity"/>
        <activity android:name=".EditProjectActivity"/>
        <activity android:name=".EditVolunteerActivity"/>
        <activity android:name=".DeleteProjectActivity"/>
        <activity android:name=".DeleteVolunteerActivity"/>
        <activity android:name=".ViewFreeVolunteerActivity"/>
        <activity android:name=".ViewProjectVolunteersActivity"/>
        <activity android:name=".AddVolunteerToProjectActivity"/>
        <activity android:name=".RemoveProjectVolunteerActivity"/>

    </application>

</manifest>